<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.atm.persistence.AtmRepository">

    <update id="decrementAtmCash">
        update Atm a
        set cash = cash - #{money}
        where a.number = #{account.number}
    </update>

    <select id="getAtmInfo" resultMap="getAtmInfoResultMap">
        select
        id as atm_id, number as atm_number
        from ATMs
        where number = #{uniqueNumber}
    </select>

    <resultMap id="getAtmInfoResultMap" type="Atm" autoMapping="false">
        <id property="id" column="atm_id"/>
        <result property="uniqueNumber" column="atm_number"/>
    </resultMap>

</mapper>