<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.atm.persistence.AccountRepository">

<resultMap id="BankResultMap" type="Bank" autoMapping="false">
    <id property="id" column="bank_id"/>
    <result property="name" column="bank_name"/>
    <result property="commission" column="bank_commission"/>
</resultMap>
</mapper>